.NavBarUl{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
}

.liClass {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    width: 100vw;
}

.link{
    text-decoration: none;
    color: white;
}

.link:hover {
    color:white;
}

.internMenu {
    padding: 0px 50px 0px 50px !important;
}

.bg-dark {
    background: linear-gradient(45deg, rgba(14, 13, 13, 0.93), rgba(42, 41, 41, 0.95));
    opacity: 0.9;
}

.underline {
    display: inline;
    position: relative;
    overflow: hidden;
}

.underline:after {
    content: "";
    position: absolute;
    z-index: -1;
    right: 0;
    width: 0;
    bottom: -5px;
    background: white;
    height: 3px;
    transition-property: width;
    transition-duration: 0.3s;
    transition-timing-function: ease-out;
}

.underline:hover:after, .underline:focus:after, .underline:active:after {
    left: 0;
    right: auto;
    width: 100%;
}

/*

*/

.container-icon {
	position: relative;
}

.count-products {
	position: absolute;
	top: 55%;
	right: 0;

	background-color: #000;
	color: #fff;
	width: 25px;
	height: 25px;

	display: flex;
	justify-content: center;
	align-items: center;
	border-radius: 50%;
}

#contador-productos {
	font-size: 12px;
}

.container-cart-products {
    position: absolute;
    top: 80px;
    right: 20px;
    background-color: #fff;
    width: 600px;
    z-index: 1;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 1);
    border-radius: 10px;
    color: black;
}

.cart-product {
	display: flex;
    flex-direction: row;
	align-items: center;
	justify-content: space-between;
	padding: 18px;
	border-bottom: 1px solid rgba(0, 0, 0, 0.2);
    align-content: center;
}

.info-cart-product {
	display: flex;
	justify-content: space-between;
	gap: 15px;
    align-items: center ;
}

.titulo-producto-carrito {
	font-size: 20px;
}

.precio-producto-carrito {
	font-weight: 700;
	font-size: 20px;
	margin-left: 10px;
}

.cantidad-producto-carrito {
	font-weight: 400;
	font-size: 20px;
}

.icon-close {
	width: 25px;
	height: 25px;
}

.icon-close:hover {
	stroke: red;
	cursor: pointer;
}

.cart-total {
	display: flex;
	justify-content: center;
	align-items: center;
	padding: 20px 0;
	gap: 20px;
}

.cart-total h3 {
	font-size: 20px;
	font-weight: 700;
}

.total-pagar {
	font-size: 20px;
	font-weight: 900;
}

.hidden-cart {
	display: none;
}

.container-items {
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	gap: 20px;
}

.cart-empty {
	padding: 20px;
	text-align: center;
}

.hidden {
	display: none;
}

.btn-clear-all {
	border: none;
	background-color: #000;
	color: #fff;
	padding: 15px 0;
	display: block;
	width: 50%;
	margin-top: 10px;
	border-bottom-left-radius: 10px;
	border-bottom-right-radius: 10px;
	font-family: inherit;
	cursor: pointer;
    font-size: 16px;
    transition: all .3s ease;
}

.carrito-widget {
	display: flex;
	flex-direction: row;
}

.irACarrito {
	text-align: center;
	text-decoration: none;
} 

.irACarrito:hover {
	color: #fff;
}

.btn-clear-all:hover{
    background-color: #333;
    transform: scale(1.03);
    border-radius: 0;
}

.row-product {
    display: flex;
    flex-direction: column;
    padding: 20px;
}